<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Meilleures ventes
    </div>
    <div class="card-body">
        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
            <div class="dataTable-container">
                <table id="datatablesSimple" class="dataTable-table">
                    <thead>
                        <tr>
                            <th data-sortable="" style="width: 19.5413%;">
                                <a href="#" class="dataTable-sorter">Nom</a>
                            </th>
                            <th data-sortable="" style="width: 28.7854%;">
                                <a href="#" class="dataTable-sorter">Description</a>
                            </th>
                            <th data-sortable="" style="width: 15.6798%;">
                                <a href="#" class="dataTable-sorter">Stock</a>
                            </th>
                            <th data-sortable="" style="width: 9.12708%;">
                                <a href="#" class="dataTable-sorter">Prix</a>
                            </th>
                            <th data-sortable="" style="width: 15.3288%;">
                                <a href="#" class="dataTable-sorter">Marque</a>
                            </th>
                            <th data-sortable="" style="width: 11.7014%;">
                                <a href="#" class="dataTable-sorter">Poids</a>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Croquettes chien</td>
                            <td>Excellent !</td>
                            <td>Encore 10 !</td>
                            <td>49.99 €</td>
                            <td>Pedigree</td>
                            <td>18 kg</td>
                        </tr>
                        <tr>
                            <td>Arbre à chat</td>
                            <td>Grandiose !</td>
                            <td>5 restants !</td>
                            <td>63.99 €</td>
                            <td>Holutou</td>
                            <td>40 kg</td>
                        </tr>
                        <tr>
                            <td>Panier / lit chien</td>
                            <td>Le confort à l'état pur !</td>
                            <td>3 restants !</td>
                            <td>66.99 €</td>
                            <td>Marque</td>
                            <td>50 kg</td>
                        </tr>
                        <tr>
                            <td>Croquettes chat</td>
                            <td>Description</td>
                            <td>Encore 6 !</td>
                            <td>22.99 €</td>
                            <td>Marque</td>
                            <td>20 kg</td>
                        </tr>
                        <tr>
                            <td>Jouet chat</td>
                            <td>Description</td>
                            <td>Encore 6 !</td>
                            <td>33.99 €</td>
                            <td>Marque</td>
                            <td>20 kg</td>
                        </tr>
                        <tr>
                            <td>Jouet chien</td>
                            <td>Description</td>
                            <td>Encore 6 !</td>
                            <td>61.99 €</td>
                            <td>Marque</td>
                            <td>20 kg</td>
                        </tr>
                        <tr>
                            <td>Croquettes chat</td>
                            <td>Description</td>
                            <td>Encore 6 !</td>
                            <td>59.99 €</td>
                            <td>Marque</td>
                            <td>20 kg</td>
                        </tr>
                        <tr>
                            <td>Arbre à chat</td>
                            <td>Description</td>
                            <td>Encore 6 !</td>
                            <td>55.99 €</td>
                            <td>Marque</td>
                            <td>20 kg</td>
                        </tr>
                        <tr>
                            <td>Litière</td>
                            <td>Description</td>
                            <td>Encore 6 !</td>
                            <td>39.99 €</td>
                            <td>Marque</td>
                            <td>20 kg</td>
                        </tr>
                        <tr>
                            <td>Herbe à chat</td>
                            <td>Description</td>
                            <td>Encore 6 !</td>
                            <td>23.99 €</td>
                            <td>Marque</td>
                            <td>20 kg</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
