<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Dashboard</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <div class="row">
                <h4>Nb. visites : {{ visites }}</h4>
                <app-card class="col-xl-3 col-md-6"></app-card>
                <app-card-order class="col-xl-3 col-md-6"></app-card-order>
                <app-card-panier class="col-xl-3 col-md-6"></app-card-panier>
                <app-card-moy-panier class="col-xl-3 col-md-6"></app-card-moy-panier>
                <app-card-new-customer class="col-xl-3 col-md-6"></app-card-new-customer>
                <app-card-reccu-client class="col-xl-3 col-md-6"></app-card-reccu-client>
                <app-card-abandon-panier class="col-xl-3 col-md-6"></app-card-abandon-panier>
                <app-card-conversion-commande class="col-xl-3 col-md-6"></app-card-conversion-commande>
            </div>
            <app-tab-ventes></app-tab-ventes>
        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2021</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
